Repository AbolhasanAshori/react-neshan-map: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: implement context & map component
  src/Map/Map.tsx
  src/Map/index.ts
  src/context.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 0.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: implement marker component
  src/Marker/Marker.tsx
  src/Marker/index.ts
  src/Marker/util.tsx
  src/element.ts
  src/index.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore(release): 0.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: change npm registry from local to network fix: fix build error
  .npmrc
  package-lock.json
  tsconfig.json
Due: none

ci: create publish pipeline
  .github/workflows/npm-publish.yml
Due: none

chore(release): 0.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: fix dependency issue and package name
  .npmrc
  package-lock.json
  package.json
Due: none

fix: fix internal zoom undefined issue
  package-lock.json
  package.json
  src/Map/Map.tsx
Due: prettier --write, eslint --fix

ci: update pipeline node version and platform
  .github/workflows/npm-publish.yml
Due: none

chore(release): 0.2.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.2.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: implement popup component
  .vscode/settings.json
  package.json
  src/Map/Map.tsx
  src/Marker/Marker.tsx
  src/Marker/util.tsx
  src/Popup/Popup.tsx
  src/Popup/index.ts
  src/Popup/util.tsx
  src/context.ts
  src/element.ts
  src/ref.ts
  src/types.ts
Due: prettier --write, eslint --fix

chore(release): 0.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: add the missing exports
  src/Marker/index.ts
  src/Popup/index.ts
  src/index.ts
Due: prettier --write, eslint --fix

chore(release): 0.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: fix marker popup display issue
  src/Popup/Popup.tsx
Due: prettier --write, eslint --fix

chore(release): 0.3.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: delay marker popup display after map load
  src/Popup/Popup.tsx
Due: prettier --write, eslint --fix

chore(release): 0.3.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: implement polyline component feat!: change Coordination type to lngLat
  src/Marker/Marker.tsx
  src/Marker/index.ts
  src/Marker/util.tsx
  src/Polyline/Polyline.tsx
  src/Polyline/base.ts
  src/Polyline/index.ts
  src/Polyline/util.tsx
  src/Popup/Popup.tsx
  src/component.tsx
  src/generic.ts
  src/index.ts
  src/layer.ts
  src/types.ts
  src/util.ts
Due: prettier --write, eslint --fix

chore(release): 0.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: add missing mapbox-gl dependency
  package-lock.json
  package.json
  src/component.tsx
Due: prettier --write, eslint --fix

chore(release): 0.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: change the project into monorepo using turborepo feat: change package manager from npm to pnpm fix: remove redundant dependencies from publish
  .eslintrc.cjs
  .github/workflows/npm-publish.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  package-lock.json
  package.json
  packages/neshan/.eslintrc.cjs
  packages/neshan/README.md
  packages/neshan/package.json
  packages/neshan/src/Map/Map.tsx
  packages/neshan/src/Map/index.ts
  packages/neshan/src/Marker/Marker.tsx
  packages/neshan/src/Marker/index.ts
  packages/neshan/src/Polyline/Polyline.tsx
  packages/neshan/src/Polyline/base.ts
  packages/neshan/src/Polyline/index.ts
  packages/neshan/src/Polyline/util.tsx
  packages/neshan/src/Popup/Popup.tsx
  packages/neshan/src/Popup/index.ts
  packages/neshan/src/Popup/util.tsx
  packages/neshan/src/component.tsx
  packages/neshan/src/context.ts
  packages/neshan/src/element.ts
  packages/neshan/src/generic.ts
  packages/neshan/src/index.ts
  packages/neshan/src/layer.ts
  packages/neshan/src/ref.ts
  packages/neshan/src/types.ts
  packages/neshan/src/util.ts
  packages/neshan/tsconfig.json
  packages/neshan/tsup.config.ts
  packages/neshan/turbo.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/copyFiles.mjs
  turbo.json
Due: prettier --write, eslint --fix

feat: change the project into monorepo using turborepo (#10)
  .eslintrc.cjs
  .github/workflows/npm-publish.yml
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  package-lock.json
  package.json
  packages/neshan/.eslintrc.cjs
  packages/neshan/README.md
  packages/neshan/package.json
  packages/neshan/src/Map/Map.tsx
  packages/neshan/src/Map/index.ts
  packages/neshan/src/Marker/Marker.tsx
  packages/neshan/src/Marker/index.ts
  packages/neshan/src/Polyline/Polyline.tsx
  packages/neshan/src/Polyline/base.ts
  packages/neshan/src/Polyline/index.ts
  packages/neshan/src/Polyline/util.tsx
  packages/neshan/src/Popup/Popup.tsx
  packages/neshan/src/Popup/index.ts
  packages/neshan/src/Popup/util.tsx
  packages/neshan/src/component.tsx
  packages/neshan/src/context.ts
  packages/neshan/src/element.ts
  packages/neshan/src/generic.ts
  packages/neshan/src/index.ts
  packages/neshan/src/layer.ts
  packages/neshan/src/ref.ts
  packages/neshan/src/types.ts
  packages/neshan/src/util.ts
  packages/neshan/tsconfig.json
  packages/neshan/tsup.config.ts
  packages/neshan/turbo.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/copyFiles.mjs
  turbo.json
Due: prettier --write, eslint --fix

chore: bootstrap releases for path: .
  .release-please-manifest.json
  release-please-config.json
Due: none

chore: re-configure release config
  .release-please-manifest.json
  release-please-config.json
Due: none

fix: add package version bump
  .versionrc
  package.json
Due: none

fix: delay map content after map load fix: update polyline on style change fix: handle polyline undefined prop error fix: fix polyline display issue by fixing isFlat util
  packages/neshan/package.json
  packages/neshan/src/Map/Map.tsx
  packages/neshan/src/Polyline/Polyline.tsx
  packages/neshan/src/Polyline/base.ts
  packages/neshan/src/Polyline/index.ts
  packages/neshan/src/Polyline/util.tsx
  packages/neshan/src/index.ts
  packages/neshan/src/layer.ts
  packages/neshan/src/util.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/.env
  test/.eslintrc.cjs
  test/.gitignore
  test/README.md
  test/index.html
  test/package.json
  test/public/vite.svg
  test/src/App.css
  test/src/App.tsx
  test/src/assets/react.svg
  test/src/index.css
  test/src/main.tsx
  test/src/vite-env.d.ts
  test/tsconfig.app.json
  test/tsconfig.json
  test/tsconfig.node.json
  test/vite.config.ts
Due: prettier --write, eslint --fix

feat(ci): update workflow file to monorepo config
  .github/workflows/npm-publish.yml
  package.json
  packages/neshan/package.json
  turbo.json
Due: none

chore(release): 0.4.2
  CHANGELOG.md
  package.json
  packages/neshan/package.json
Due: prettier --write

feat: implement circle component
  packages/neshan/src/Circle/Circle.tsx
  packages/neshan/src/Circle/base.ts
  packages/neshan/src/Circle/index.ts
  packages/neshan/src/Circle/util.ts
  packages/neshan/src/Polyline/base.ts
  packages/neshan/src/Polyline/index.ts
  packages/neshan/src/Polyline/util.ts
  packages/neshan/src/index.ts
  test/src/App.tsx
Due: prettier --write, eslint --fix

chore(release): 0.5.0
  CHANGELOG.md
  package.json
  packages/neshan/package.json
Due: prettier --write

fix: fix marker popup display issue
  packages/neshan/src/Popup/Popup.tsx
  packages/neshan/src/component.tsx
  test/src/App.tsx
  test/vite.config.ts
Due: prettier --write, eslint --fix

chore(release): 0.5.1
  CHANGELOG.md
  package.json
  packages/neshan/package.json
Due: prettier --write

chore(pkg): bump react version from 18 to 19 and update other packages
  .github/workflows/npm-publish.yml
  .husky/commit-msg
  .husky/pre-commit
  package.json
  packages/neshan/.eslintrc.cjs
  packages/neshan/package.json
  packages/neshan/src/Map/Map.tsx
  packages/neshan/src/Popup/util.tsx
  packages/neshan/src/component.tsx
  packages/neshan/src/context.ts
  packages/neshan/src/element.ts
  packages/neshan/src/generic.ts
  packages/neshan/src/index.ts
  packages/neshan/src/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  test/package.json
  test/src/vite-env.d.ts
  test/tsconfig.app.json
Due: prettier --write, eslint --fix

chore(release): 0.5.3
  CHANGELOG.md
  package.json
  packages/neshan/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{html,css,scss,sass,md}) or (any of: *.{js,jsx,ts,tsx,mdx})
  eslint --fix: any of: *.{js,jsx,ts,tsx,mdx}
